<a href="https://colab.research.google.com/github/SudhakarAnemu/AI-DS-ML-DL/blob/master/1014_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Index

# Important urls 

https://www.w3schools.com/python/python_mysql_select.asp <br>
https://www.datacamp.com/community/tutorials/mysql-python <br>
https://www.databasejournal.com/features/mysql/article.php/3904531/The-10-Most-Common-MySQL-Queries.htm <br>

# Installing all required packages
<br>1. mysql.connector
<br>2. sqlalchemy
<br>3. psycopg2-binary

In [32]:
!pip install mysql.connector
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install pymysql

Processing /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175/mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl
Installing collected packages: mysql.connector
Successfully installed mysql.connector
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.13)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)
Requirement already satisfied: pymysql in /usr/local/lib/python3.6/dist-packages (0.9.3)

# Importing all required packages

In [33]:
import mysql.connector as mysql
print("Import completed")

Import completed

# Connecting the Database

In [34]:
db = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)
print("Details of the connected DB : ", db)

Details of the connected DB :  <mysql.connector.connection.MySQLConnection object at 0x7f0938ee4f60>

# Fetch details of Tables :

In [35]:
cursor = db.cursor()
## getting all the tables which are present in 'db' database
cursor.execute("SHOW TABLES")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
print("List of Tables under the database : student")
for table in tables:
    print(table)

List of Tables under the database : student
('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

# Find the count of rows on each Table :

In [36]:
cursor = db.cursor()
cursor.execute("select count(*) from events_data")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table events_data has ", table, " rows")

cursor.execute("select count(*) from gender_age_train")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table gender_age_train has ", table, " rows")

cursor.execute("select count(*) from phone_brand_device_model")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table phone_brand_device_model has ", table, " rows")

Table events_data has  (3252950,)  rows
Table gender_age_train has  (74645,)  rows
Table phone_brand_device_model has  (87726,)  rows

# Extracting gender_age_train Table's data to a CSV file

In [0]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("gender_age_train", engine)
df.to_csv('gender_age_train.csv')

# Extracting phone_brand_device_model Table's data to a CSV fle

In [0]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("phone_brand_device_model", engine)
df.to_csv('phone_brand_device_model.csv')

# Copy data from the Google Drive

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [46]:
!ls drive/'My Drive'/1014capstone/
!mkdir -p data

events_data.csv  gender_age_train.csv  phone_brand_device_model.csv

In [0]:
!cp -R drive/'My Drive'/1014capstone/* data/

# Read events_data files to a Dataframe and work on it

## Read csv file to a data frame

In [0]:
# data = pd.read_csv('https://raw.githubusercontent.com/SudhakarAnemu/Term-4/master/Projects/Ghouls_train.csv', index_col=0)
dt_evnts = pd.read_csv('/content/data/events_data.csv')

## Frist 10 rows of the dt_evnts data

In [57]:
dt_evnts.head(10)

   event_id     device_id            timestamp  ...  latitude   city  state
0       1.0  2.918269e+16  2016-05-01 00:55:25  ...  28.68161  Delhi  Delhi
1    7104.0  2.918269e+16  2016-05-02 09:37:02  ...  28.68161  Delhi  Delhi
2   29661.0  2.918269e+16  2016-05-04 00:56:04  ...  28.68161  Delhi  Delhi
3   33133.0  2.918269e+16  2016-05-06 05:01:15  ...  28.68161  Delhi  Delhi
4   38980.0  2.918269e+16  2016-05-06 09:55:04  ...  28.68161  Delhi  Delhi
5   66398.0  2.918269e+16  2016-05-01 01:56:06  ...  28.68161  Delhi  Delhi
6   70894.0  2.918269e+16  2016-05-06 01:14:46  ...  28.68161  Delhi  Delhi
7   87185.0  2.918269e+16  2016-05-01 09:20:01  ...  28.68161  Delhi  Delhi
8   94644.0  2.918269e+16  2016-05-07 07:16:35  ...  28.68161  Delhi  Delhi
9  110018.0  2.918269e+16  2016-05-06 21:00:40  ...  28.68161  Delhi  Delhi

[10 rows x 7 columns]

In [53]:
print(150*'*')
print("Shape of the Dataset : ", data.shape)
print(150*'-')
print("Columns : ", data.columns)
print(150*'&')
print("Info of the Dataset : ", data.info())
print(150*'^')
print("Description of the Dataset : ", data.describe())
print(150*'%')
print("Verify the count of Null", data.isnull().sum())

******************************************************************************************************************************************************
Shape of the Dataset :  (3252950, 6)
------------------------------------------------------------------------------------------------------------------------------------------------------
Columns :  Index(['device_id', 'timestamp', 'longitude', 'latitude', 'city', 'state'], dtype='object')
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
<class 'pandas.core.frame.DataFrame'>
Float64Index: 3252950 entries, 1.0 to 3251669.0
Data columns (total 6 columns):
device_id    float64
timestamp    object
longitude    float64
latitude     float64
city         object
state        object
dtypes: float64(3), object(3)
memory usage: 173.7+ MB
Info of the Dataset :  None
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Description of the Dataset :            device_id     longitude      latitude
count  3.252497e+06  3.252527e+06  3.252527e+06
mean   1.012200e+17  7.815868e+01  2.168851e+01
std    5.316758e+18  4.235570e+00  5.789111e+00
min   -9.222957e+18  1.256700e+01  8.190110e+00
25%   -4.540611e+18  7.583543e+01  1.780171e+01
50%    1.726820e+17  7.726814e+01  2.216454e+01
75%    4.861813e+18  8.031916e+01  2.868278e+01
max    9.222849e+18  9.545946e+01  4.187190e+01
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Verify the count of Null device_id    453
timestamp      0
longitude    423
latitude     423
city           0
state        377
dtype: int64