<a href="https://colab.research.google.com/github/SudhakarAnemu/AI-DS-ML-DL/blob/master/1014_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
print("js")

js

# Important urls 

https://www.w3schools.com/python/python_mysql_select.asp <br>
https://www.datacamp.com/community/tutorials/mysql-python <br>
https://www.databasejournal.com/features/mysql/article.php/3904531/The-10-Most-Common-MySQL-Queries.htm <br>

In [16]:
!pip install mysql.connector

Processing /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175/mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [23]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.13)

In [28]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 4.8MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [17]:
import mysql.connector as mysql
print("Import completed")

Import completed

In [18]:
db = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)

print("DB : ", db)

DB :  <mysql.connector.connection.MySQLConnection object at 0x7f139e520c88>

In [19]:
cursor = db.cursor()

## getting all the tables which are present in 'db' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [20]:
cursor = db.cursor()

cursor.execute("select count(*) from events_data")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)


cursor.execute("select count(*) from gender_age_train")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

cursor.execute("select count(*) from phone_brand_device_model")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

(3252950,)
(74645,)
(87726,)

In [21]:
cursor = db.cursor()

cursor.execute("select * from events_data")

tables = cursor.fetchall() ## it returns list of tables present in the database

for i in range(6):
  # print(i)
  table in tables
  print(table)

# for table in tables:
#     print(table)

InterfaceError: ignored

In [22]:
import mysql.connector as sql
import pandas as pd

db_connection = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)
# db_connection = sql.connect(host='hostname', database='db_name', user='username', password='password')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM events_data')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

InterfaceError: ignored

In [0]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://mysql_user:mysql_password@mysql_host/mysql_db'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM table_name', con=db_connection)

In [37]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 2.6MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [43]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')

df = pd.read_sql_table("gender_age_train", engine)
df

                 device_id gender  age   group
0     -8076087639492063270      M   35  M32-38
1     -2897161552818060146      M   35  M32-38
2     -8260683887967679142      M   35  M32-38
3     -4938849341048082022      M   30  M29-31
4       245133531816851882      M   30  M29-31
...                    ...    ...  ...     ...
74640  4682031842235089751      M   30  M29-31
74641 -9178703742877135986      M   30  M29-31
74642   180946546684162312      M   20    M22-
74643  1390702386071991851      M   37  M32-38
74644    89181010588227347      M   25  M23-26

[74645 rows x 4 columns]

In [44]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')

df = pd.read_sql_table("phone_brand_device_model", engine)
df

                 device_id phone_brand device_model
0      1877775838486905855        vivo          Y13
1     -3766087376657242966          小米         V183
2     -6238937574958215831        OPPO          R7s
3      8973197758510677470          三星        A368t
4     -2015528097870762664          小米      红米Note2
...                    ...         ...          ...
87721 -4961458925928574032          华为       荣耀畅玩4X
87722 -8819817317449262375          华为          荣耀6
87723 -3358291377416935026          华为        荣耀畅玩4
87724  3282788959750981633          小米         MI 2
87725  2491639413207286271          酷比           M1

[87726 rows x 3 columns]

In [54]:

# SQL: SELECT events_data.event_id, events_data.device_id, events_data.timestamp, events_data.longitude, events_data.latitude, events_data.city, events_data.state 
# FROM events_data

import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')

# df = pd.read_sql_table("events_data", engine)

df = pd.read_sql_query("select event_id, device_id from events_data", engine)
df

         event_id     device_id
0               1  2.918269e+16
1            7104  2.918269e+16
2           29661  2.918269e+16
3           33133  2.918269e+16
4           38980  2.918269e+16
...           ...           ...
3252945   3241600  6.057196e+18
3252946   3241929  8.855298e+18
3252947   3242387  1.734091e+18
3252948   3248517  7.886185e+18
3252949   3251669 -8.448990e+18

[3252950 rows x 2 columns]

In [41]:
for i in range(6):
  print(i)

0
1
2
3
4
5