<a href="https://colab.research.google.com/github/SudhakarAnemu/AI-DS-ML-DL/blob/master/1014_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Index

# Important urls 

https://www.w3schools.com/python/python_mysql_select.asp <br>
https://www.datacamp.com/community/tutorials/mysql-python <br>
https://www.databasejournal.com/features/mysql/article.php/3904531/The-10-Most-Common-MySQL-Queries.htm <br>

# Installing all required packages
<br>1. mysql.connector
<br>2. sqlalchemy
<br>3. psycopg2-binary

In [21]:
!pip install mysql.connector
!pip install sqlalchemy
!pip install psycopg2-binary
!pip install pymysql

Processing /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175/mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl
Installing collected packages: mysql.connector
Successfully installed mysql.connector
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.13)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.4)
Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 4.0MB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

# Importing all required packages

In [23]:
import mysql.connector as mysql
print("Import completed")

Import completed

# Connecting the Database

In [24]:
db = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)
print("Details of the connected DB : ", db)

Details of the connected DB :  <mysql.connector.connection.MySQLConnection object at 0x7f093b5995f8>

# Fetch details of Tables :

In [25]:
cursor = db.cursor()
## getting all the tables which are present in 'db' database
cursor.execute("SHOW TABLES")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
print("List of Tables under the database : student")
for table in tables:
    print(table)

List of Tables under the database : student
('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

# Find the count of rows on each Table :

In [26]:
cursor = db.cursor()
cursor.execute("select count(*) from events_data")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table events_data has ", table, " rows")

cursor.execute("select count(*) from gender_age_train")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table gender_age_train has ", table, " rows")

cursor.execute("select count(*) from phone_brand_device_model")
tables = cursor.fetchall() ## it returns list of tables present in the database
## showing all the tables one by one
for table in tables:
    print("Table phone_brand_device_model has ", table, " rows")

Table events_data has  (3252950,)  rows
Table gender_age_train has  (74645,)  rows
Table phone_brand_device_model has  (87726,)  rows

# Extracting gender_age_train Table's data to a CSV file

In [0]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("gender_age_train", engine)
df.to_csv('gender_age_train.csv')

# Extracting phone_brand_device_model Table's data to a CSV fle

In [0]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://student:student@cpanel.insaid.co:3306/Capstone1')
df = pd.read_sql_table("phone_brand_device_model", engine)
df.to_csv('phone_brand_device_model.csv')