In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1W8O7NIf7KyLPJfcEsZWAl5-HMIBVjJMx')

# Assignment 3 - Pandas Data Analysis Practice

## Sudhakar Anemu, Assignment 3

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

In [ ]:
# Run the next line to install Pandas
!pip install pandas --upgrade

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7ff758053518>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [8]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [11]:
num_countries = countries_df.shape
print("Type of num_countires : ", type(num_countries))

Type of num_countires :  <class 'tuple'>

In [12]:
print('There are {} countries in the dataset'.format(num_countries[0]))

There are 210 countries in the dataset

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [15]:
countries_df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [16]:
continents = countries_df['continent'].unique()

In [17]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: What is the total population of all the countries listed in this dataset?**

In [18]:
total_population = countries_df['population'].sum()

In [19]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [22]:
total_number_of_countries = num_countries[0]
total_life_expectancy_of_all_countries = countries_df['life_expectancy'].sum()
print("Data type of : total_number_of_countries ", type(total_number_of_countries))
print("Data type of : total_life_expectancy_of_all_countries ", type(total_life_expectancy_of_all_countries))

Data type of : total_number_of_countries  <class 'int'>
Data type of : total_life_expectancy_of_all_countries  <class 'numpy.float64'>

In [23]:
Avg = total_number_of_countries/total_life_expectancy_of_all_countries
print("Overall life expectancy across in the world : ", Avg)

Overall life expectancy across in the world :  0.013797018267252185

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [40]:
countries_df.sort_values('population', ascending=False).head(10)

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [41]:
most_populous_df = countries_df.sort_values('population', ascending=False).head(10)

In [42]:
most_populous_df

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708
27          Brazil  South America  ...                        2.20       14103.452
141        Nigeria         Africa  ...                         NaN        5338.454
15      Bangladesh           Asia  ...                        0.80        3523.984
157         Russia         Europe  ...                        8.05       24765.954
125         Mexico  North America  ...                        1.38       17336.469

[10 rows x 6 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [43]:
countries_df.head(5)

      location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0  Afghanistan      Asia  ...                        0.50        1803.987
1      Albania    Europe  ...                        2.89       11803.431
2      Algeria    Africa  ...                        1.90       13913.839
3      Andorra    Europe  ...                         NaN             NaN
4       Angola    Africa  ...                         NaN        5819.495

[5 rows x 6 columns]

In [44]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [45]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [ ]:
country_counts_df = ???

In [ ]:
country_counts_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
continent_populations_df = ???

In [ ]:
continent_populations_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [ ]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [ ]:
total_tests_missing = ???

In [ ]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = ???

In [ ]:
combined_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = ???

In [ ]:
combined_df['deaths_per_million'] = ???

In [ ]:
combined_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
highest_tests_df = ???

In [ ]:
highest_tests_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:
highest_cases_df = ???

In [ ]:
highest_cases_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df = ???

In [ ]:
highest_deaths_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2